<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="854346603661-ngeqtvl31juqmtfo2lgsmgc0re7e526r.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Team 7 - Project 2 -->
    <title>Courier</title>

    <!-- Avoid faveicon request from getting through -->
    <link rel="icon" href="data:;base64,=">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <!-- google sign in -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font Awsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Extra CSS -->
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    {{{body}}}
</body>
</html>
