 {{> navbars }}
 <!-- About Us -->
<main id="about-us-area" class="scrollbar scrollbar-primary">
    <h2 class="center title">About Us</h2>
    <hr class="title-hr center">
    <p class="font-p"><span class="cyan-text bolder">Courier</span> is an email communications platform that will allow users to send large bundles of mail with the simple click of a button. The service offers a user-friendly interface that includes secure access (with user authentication), mailing list management and creative email templating. courier exists to make mass email communications easy and hassle free. </p>
</main>

 {{> bottom }}