{{> navbars }}
    <!-- First Page -->
    <main id="first-area" class="scrollbar scrollbar-primary">
        <h2 class="center title welcome">Welcome to Courier <span class="my-name"></span></h2>
    </main>
{{> bottom }}