 {{> navbars }}
<!-- New Templates -->
<main id="new-templates-area" class="scrollbar scrollbar-primary">
    <h2 class="center title">New Templates</h2>
    <hr class="title-hr center">
    <div class="temp-card-holder row">

        <div class="col s12 m4">
            <div class="card card-template modal-trigger" data-template="Default-Pink" href="#modal-temp">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/Default-Pink.png">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template modal-trigger" data-template="Default-Orange" href="#modal-temp">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/Default-Orange.png">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template modal-trigger" data-template="Default-Green" href="#modal-temp">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/Default-Green.png">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template modal-trigger" data-template="Default-Blue" href="#modal-temp">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/Default-Blue.png">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template modal-trigger" data-template="Default-Navy" href="#modal-temp">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/Default-Navy.png">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template modal-trigger" data-template="Default-Black" href="#modal-temp">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/Default-Black.png">
                </div>
            </div>
        </div>

    </div>
</main>


<!-- Modal Structure -->
<div id="modal-temp" class="modal scrollbar scrollbar-primary">
    <div class="modal-content new-temp-prev center"></div>
    <div class="modal-content mail-group-choose disappear">
        <ul class="collection"></ul>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-green temp-back-btn btn-flat disappear">Back</a>
        <a class="waves-effect waves-green temp-take-btn btn-flat">Take Template</a>
        <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

 {{> bottom }}