 {{> navbars }}
<!-- New Templates -->
<main id="new-templates-area" class="scrollbar scrollbar-primary">
    <h1 class="center title">New Templates</h1>
    <hr class="title-hr center">
    <div class="row">

        <div class="col s12 m4">
            <div class="card card-template">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/pink.png">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/orange.png">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/huntergreen.png">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/babyblue.png">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/navy.png">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/black.png">
                </div>
            </div>
        </div>

    </div>
</main>

 {{> bottom }}