 {{> navbars }}
<!-- New Templates -->
<main id="new-templates-area" class="scrollbar scrollbar-primary">
    <h2 class="center title">New Templates</h2>
    <hr class="title-hr center">
    <div class="temp-card-holder row">

        <div class="col s12 m4">
            <div class="card card-template modal-trigger" data-template="default-pink" href="#modal-temp">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/pink.png">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template modal-trigger" data-template="default-orange" href="#modal-temp">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/orange.png">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template modal-trigger" data-template="default-green" href="#modal-temp">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/huntergreen.png">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template modal-trigger" data-template="default-blue" href="#modal-temp">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/babyblue.png">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template modal-trigger" data-template="default-dark-blue" href="#modal-temp">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/navy.png">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template modal-trigger" data-template="default-black" href="#modal-temp">
                <div class="card-image">
                    <img class="card-img" src="/images/colorways/black.png">
                </div>
            </div>
        </div>

    </div>
</main>


<!-- Modal Structure -->
<div id="modal-temp" class="modal scrollbar scrollbar-primary">
    <div class="modal-content new-temp-prev center">
    </div>
    <div class="modal-content mail-group-choose disappear">
        <ul class="collection">
        </ul>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-green temp-back-btn btn-flat disappear">Back</a>
        <a class="waves-effect waves-green temp-take-btn btn-flat">Take Template</a>
        <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

 {{> bottom }}