{{> navbars }}
<main id="preview-area" class="scrollbar scrollbar-primary">
<div class="row prev-and-form">
    <div class="col s4 offset-s4">
        <input placeholder="Add your template lable" id="user-temp-lable" type="text" class="validate center">
    </div>
    
    <div class="edit-div col s12 m6">
        <h6 class="center title">Form</h6>
        <div class="row">
            <form class="col s11">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="please submit URL" id="logo-input" type="text" class="validate">
                        <label for="logo-input">Logo</label>

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="please submit URL" id="main-image" type="text" class="validate">
                        <label for="main-image">Main image</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name-input" type="text" class="validate" placeholder="please use the following format: ###name###">
                        <label for="name-input">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="position-input" type="text" class="validate">
                        <label for="position-input">Position</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="telephone" type="text" class="validate">
                        <label for="telephone">Telephone</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email-input" type="text" class="validate">
                        <label for="profile-image">Email</label>
                    </div>
                </div>
                <a class="waves-effect waves-light btn disabled" id="prev-submit">Submit and Preview</a>
            </form>
        </div>
    </div>
    <div class="prev-div col s12 m6">
        <div class="row">
            <div id="temp-area-prev" class="col s11">
                
            </div>
        </div>
    </div>
</div>
</main>

{{> bottom }}







