{{> navbars }}
<main id="preview-area" class="scrollbar scrollbar-primary">
<h4 class="center title preview-group-title"></h4>
<hr class="title-hr center">
<div class="row prev-and-form">
    <div class="edit-div col s12 m6">
        <h6 class="center title">Form</h6>
    </div>
    <div class="prev-div col s12 m6">
        <h6 class="center title"></h6>
    </div>
</div>
</main>

{{> bottom }}