{{> navbars }}
<main id="sending-area" class="scrollbar scrollbar-primary">
    <h2 class="center title">Preview and Send</h2>
    <a class="waves-effect waves-light btn disabled" id="sendMailButton"><i class="material-icons right">send</i>Submit</a>
    <div id="page-to-prev"></div>
</main>

{{> bottom }}