{{> navbars }}
<main id="sending-area" class="scrollbar scrollbar-primary" >
    <div id="send-promp-page">
        <div class="row">
            <div class="mail-subject col s10 offset-s1">
                <p class="title">Mail To: <span id="all-the-emails"></span></p>
                <p class="title">Subject: <span id="subject"></span></p>
                <div class="row">
                    <div class="col s1">
                        <p class="title">Alias: </p>
                    </div>
                    <div class="col s8">
                        <input id="alias-input" type="text" class="validate">
                    </div>
                </div>
            </div>
        </div>

        <div id="page-to-prev" class="center"></div>

        <div class="row">
            <div class="col s12 finally-div center">
                <a class="waves-effect waves-light btn" id="sendMailButton"><i class="material-icons right">send</i>Send Email</a>
            </div>
        </div>
    </div>
    
    <div id="thankyou-page" class="row center" style="display:none;">
        <h2 class="center title welcome">Thank you for using Courier <span class="name"></span></h2>
    </div>
</main>

{{> bottom }}