 {{> navbars }}

<!-- Settings -->
<main id="settings-area" class="scrollbar scrollbar-primary">
    <h2 class="center title">Settings</h2>
    <hr class="title-hr center">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s11">
                    <input id="bg-changer" type="text" class="validate" placeholder="URL Links only">
                    <label for="bg-changer">Change Sidebar Background Picture</label>
                </div>
                <div class="col s12">
                    <a id="change-settings" type="submit" class="waves-effect waves-cyan btn cyan lighten-5 black-text insta-start-btn">Change Settings</a>
                </div>
            </div>
        </form>
        <div class="col s12">
            <h6 class="instalation-helper">If there was an error in your set up please go through the <a href="/installation">Authorization</a> steps again.</h6>
            <h6 class="instalation-helper">For steps on how to get authorized see <a href="https://drive.google.com/file/d/1_ePweiXevixNp97ZN0uU--905_u50V8G/view" target="_blank">Documentation</a></h6>
        </div>
    </div>
</main>

 {{> bottom }}