 {{> navbars }}

<!-- Settings -->
<main id="settings-area" class="scrollbar scrollbar-primary">
    <h2 class="center title">Settings</h2>
    <hr class="title-hr center">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="img-changer" type="text" class="validate" placeholder="URL Links only">
                    <label for="img-changer">Change Profile Picture</label>
                </div>
                <div class="input-field col s12">
                    <input id="bg-changer" type="text" class="validate" placeholder="URL Links only">
                    <label for="bg-changer">Change Sidebar Background Picture</label>
                </div>
                <div class="col s12">
                    <a id="change-settings" type="submit" class="waves-effect waves-cyan btn cyan lighten-5 black-text">Change Settings</a>
                </div>
            </div>
        </form>
    </div>
</main>

 {{> bottom }}