 {{> navbars }}
<!-- Users Templates -->
<main id="user-templates-area"  class="scrollbar scrollbar-primary">
    <h2 class="center title">Users Templates</h2>
    <hr class="title-hr center">
    <div class="temp-card-holder row"></div>
</main>

<!-- Modal Structure -->
<div id="modal-user-temp" class="modal scrollbar scrollbar-primary">
    <div class="modal-content mail-group-choose">
        <ul class="collection"></ul>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

 {{> bottom }}