 {{> navbars }}
<!-- Users Templates -->
<main id="user-templates-area"  class="scrollbar scrollbar-primary">
    <h2 class="center title">Users Templates</h2>
    <hr class="title-hr center">
</main>

 {{> bottom }}