 {{> navbars }}
 <!-- Users Mail List -->
<main id="user-mail-list-area" class="scrollbar scrollbar-primary">
    <h2 class="center title">Users Mail List</h2>
    <hr class="title-hr center">
    <div id="user-group-cards" class="row">

    {{#each data}}
        <div class="col s12 m4 l3">
            <div class="card blue-grey darken-1 card-mail" value="{{id}}">
                <div class="card-content white-text">
                    <span class="card-title card-mail-title">{{lable}}</span>
                    <p>
                    {{#each MailLists}}
                        {{email}}
                    {{/each}} </p>
                </div>
            </div>
        </div>
    {{/each}}
    
    </div>
</main>

 {{> bottom }}