 {{> navbars }}
 <!-- Users Mail List -->
<main id="user-mail-list-area" class="scrollbar scrollbar-primary">
    <h2 class="center title">Users Mail List</h2>
    <hr class="title-hr center">
    <div id="user-group-cards" class="row">
    
    </div>
</main>

<!-- Modal Structure -->
<div id="modal-mail" class="modal scrollbar scrollbar-primary">
    <div class="modal-content user-mail-card">
        <ul class="collection with-header"></ul>
    </div>
    <div class="modal-footer center">
        <a id="edit-group-name" class="waves-effect waves-green btn-flat cyan-text text-darken-4">EDIT</a>
        <a id="change-group-name" class="waves-effect waves-green btn-flat cyan-text text-darken-4" style="display: none;">CHANGE</a>
        <a id="delete-group-name" class="modal-close waves-effect waves-green btn-flat red-text text-accent-4">DELETE</a>
        <a id="close-group-name" class="modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
</div>

 {{> bottom }}