<!-- New Templates -->
<main id="new-templates-area" class="scrollbar scrollbar-primary">
    <h1 class="center title">New Templates</h1>
    <hr class="title-hr center">
    
    <div class="row">
        <div class="col s12 m4">
            <div class="card card-template">
                <div class="card-image">
                    <img src="/images/colorways/pink.png">
                    <span class="card-title center">Pink</span>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template">
                <div class="card-image">
                    <img src="/images/colorways/orange.png">
                    <span class="card-title center">Orange</span>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template">
                <div class="card-image">
                    <img src="/images/colorways/huntergreen.png">
                    <span class="card-title center">Green</span>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template">
                <div class="card-image">
                    <img src="/images/colorways/babyblue.png">
                    <span class="card-title center">Blue</span>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template">
                <div class="card-image">
                    <img src="/images/colorways/navy.png">
                    <span class="card-title center">Navy</span>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card card-template">
                <div class="card-image">
                    <img src="/images/colorways/black.png">
                    <span class="card-title center">Black</span>
                </div>
            </div>
        </div>
    </div>
</main>